.wrapper {
  height: 100vh;
}

.left-side {
  width: 70%;
}

.right-side {
  width: 30%;
}

.button {
  background-color: #DB3022!important;
  border-radius: 50px;
}

.text-danger {
  color: #DB3022!important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis-Medium.otf") format("opentype");
}
